  <h1>Enter Site for Suspected Undead Links</h1>

  <%= form_for @site do |f| %>
<div id="field">
      <%= f.text_field :url, placeholder: "URL" %></br>
</div>

<div id="butt">
      <%= f.submit "Find Undead Links!" %></br>
</div>

  <% end %>

